h1{
    color: brown;
}

.navigation{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}

.navigation_logo{
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 39px;
color: white;
flex: 2;
margin-left: 20px;
position: relative;
left: 30px;

}

.navigation .navigation_links{
flex: 1;
margin-top: 10px;
}

.navigation .navigation_links a{
    color: white;
    text-decoration: none;

    
}

